<div class="flex flex-col">
    <div class="bg-gray-100 shadow-md py-4">
        <div class="container mx-auto flex items-center">
            <h1 class="text-xl font-bold">PCEX Authoring</h1>
        </div>
    </div>

    <div class="container mx-auto my-10">
        <div class="flex items-center justify-center gap-4">
            <p-accordion class="w-full">
                <p-accordionTab header="Activities">
                    <app-activities></app-activities>
                </p-accordionTab>
                <p-accordionTab header="Source Codes" [selected]="true">
                    <app-sources></app-sources>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>