<form *ngIf="model" #form="ngForm" (ngSubmit)="update()" class="flex flex-col gap-2 p-4 bg-gray-100">
    <div class="flex items-center gap-2">
        <input type="text" name="name" pInputText [(ngModel)]="model.name" placeholder="Name" required
            class="text-xl flex-grow" />

        <button pButton type="button" icon="pi pi-plus" class="p-button-sm p-button-rounded p-button-text"
            (click)="addItem()"></button>
    </div>

    <div *ngFor="let each of model.items; let i = index;" class="flex items-center gap-2 ml-4">
        <span class="w-10">{{ i + 1 }}.</span>

        <div class="flex-grow">
            <p-dropdown [name]="'activity-item-' + i" [options]="sources" [(ngModel)]="each.item" [filter]="true"
                filterBy="label" [showClear]="true" [required]="true" placeholder="Select a Source" styleClass="w-full">
            </p-dropdown>
        </div>

        <p-selectButton [name]="'activity-type-' + i" [ngModel]="each.type" [options]="[
                { label: 'Example', value: 'example' },
                { label: 'Challenge', value: 'challenge' },
            ]" [(ngModel)]="each.type" required class="pi-button-sm">
        </p-selectButton>

        <button pButton type="button" icon="pi pi-times"
            class="p-button-text p-button-rounded p-button-sm p-button-danger" (click)="removeItem(each)"></button>
    </div>

    <div class="flex items-center gap-2 justify-end">
        <button pButton type="button" label="Cancel" icon="pi pi-chevron-left"
            class="p-button-sm p-button-secondary p-button-text" (click)="completed.emit()">
        </button>
        <button pButton type="submit" [label]="activity.id ? 'Update' : 'Save'" icon="pi pi-check" class="p-button-sm"
            [disabled]="form.invalid">
        </button>
    </div>
</form>