<div class="flex flex-col">
    <form *ngIf="model" #form="ngForm" (ngSubmit)="update()">
        <div class="bg-gray-100 shadow-md py-4">
            <div class="container mx-auto flex items-center">
                <h1 class="text-xl font-bold">
                    <span routerLink="/dashboard" class="cursor-pointer text-blue-700">PCEX Authoring</span>
                    <span *ngIf="model?.name" class="ml-1">
                        <i class="pi pi-chevron-right"></i>
                        {{ model.name }}
                    </span>
                </h1>

                <span class="flex-grow"></span>

                <button pButton type="submit" label="Update" icon="pi pi-check" class="p-button-sm"
                    [disabled]="form.invalid"></button>
            </div>
        </div>

        <div class="container mx-auto my-10">
            <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-2">
                    <input type="text" name="name" pInputText [(ngModel)]="model.name" placeholder="Name" required
                        class="text-xl" />
                    <textarea pInputTextarea name="description" [(ngModel)]="model.description" [autoResize]="true"
                        placeholder="Description" class="p-inputtext-sm">
                    </textarea>
                </div>

                <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
                    <div class="flex flex-col gap-4">
                        <span class="text-xl font-bold">Source Code</span>
                        <ngx-monaco-editor name="code" [(ngModel)]="model.code" [options]="options"
                            (onInit)="setupSourceEditor($event)" required class="flex-grow border px-1 rounded-md">
                        </ngx-monaco-editor>
                    </div>

                    <div class="flex flex-col gap-2 relative">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">
                                Line Annotation
                            </span>
                            <span class="text-gray-400 text-xs">
                                Annotations are attached to line numbers (NOT line contents).
                            </span>
                        </div>
                        <ng-container *ngIf="selectedLineNum">
                            <div class="flex items-center">
                                <p-checkbox name="blank" [binary]="true" label="Is a blank line"
                                    [(ngModel)]="selectedLine.blank" [disabled]="!selectedLineNum"
                                    (onChange)="reloadLineMarkers()"></p-checkbox>

                                <span class="flex-grow"></span>

                                <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-text"
                                    (click)="addLineComment()"></button>
                            </div>

                            <div *ngFor="let comment of selectedLine.comments; let i = index"
                                class="flex flex-col gap-1 relative">
                                <textarea pInputTextarea [name]="'linecomment-' + i" [(ngModel)]="comment.content"
                                    [disabled]="!selectedLineNum" rows="1" placeholder="Comment" class="p-inputtext-sm"
                                    (ngModelChange)="reloadLineMarkers()">
                                </textarea>

                                <button pButton type="button" icon="pi pi-times"
                                    class="p-button-rounded p-button-danger p-button-text absolute top-0 right-0"
                                    (click)="removeLineComment(comment)"></button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!selectedLineNum">
                            <span class="text-gray-500 text-sm">
                                ← to start annotating, place the cursor in a line.
                            </span>
                        </ng-container>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex flex-col">
                        <span class="text-xl font-bold">Program Input</span>
                        <span class="text-gray-400 text-xs">
                            Available through System.in (Java), stdin (C, C++), ...
                        </span>
                    </div>
                    <textarea pInputTextarea name="program-input" [(ngModel)]="model.programInput" rows="1"
                        placeholder="" class="p-inputtext-sm">
                    </textarea>
                </div>

                <div class="flex items-center gap-4">
                    <div class="flex flex-col">
                        <span (click)="tt['distractors'] = !tt['distractors']" class="text-xl font-bold cursor-pointer">
                            <span>Distractors ({{ model.distractors?.length }})</span>
                            <i [class]="'mx-2 pi pi-chevron-' + (tt['distractors'] ? 'down' : 'up')"></i>
                        </span>
                        <span class="text-gray-400 text-xs">
                            Blank line possible replacements
                        </span>
                    </div>

                    <span class="flex-grow"></span>

                    <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-text"
                        (click)="addDistractor()"></button>
                </div>
                <div *ngIf="!tt['distractors']" class="flex flex-col gap-1">
                    <div *ngIf="model.distractors?.length < 1" class="flex gap-2 p-2 border rounded-md">
                        <span class="mx-auto">
                            Use the <i class="pi pi-plus text-blue-500 mx-2 cursor-pointer"
                                (click)="addDistractor()"></i>
                            button to add a distractor.
                        </span>
                    </div>
                    <div *ngFor="let distractor of model.distractors; let i = index" class="flex items-start gap-2">
                        <span class="w-4 text-right text-sm">
                            {{ i + 1 }}.
                        </span>
                        <div class="flex flex-col flex-grow p-1 border rounded-md">
                            <ngx-monaco-editor [name]="'distractor-' + i" [(ngModel)]="distractor.code"
                                [options]="options_l1" (onInit)="setupDistractorEditor($event)"
                                style="height: 1.15rem; border: none;">
                            </ngx-monaco-editor>
                            <textarea pInputTextarea [autoResize]="true" [name]="'dist-description-' + i"
                                [(ngModel)]="distractor.description" placeholder="Description" rows="1"
                                class="text-xs border-t"
                                style="border-bottom: none; border-left: none; border-right: none; border-radius: 0; padding: 0.125rem 0.25rem;"></textarea>
                        </div>
                        <button pButton type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger p-button-text"
                            (click)="removeDistractor(distractor)"></button>
                    </div>
                </div>

                <hr />

                <span class="text-xl font-bold">JSON Representation</span>
                <ngx-monaco-editor name="json" [ngModel]="model | json" [options]="options_vw"
                    class="flex-grow border px-1 rounded-md" style="height: 30rem;">
                </ngx-monaco-editor>
            </div>
        </div>
    </form>
</div>