<p-table #table [value]="sources" [globalFilterFields]="['title','description']">
    <ng-template pTemplate="caption">
        <div class="flex items-center">
            <button pButton type="button" label="New Source Code" icon="pi pi-plus" class="p-button-sm"
                (click)="create()"></button>

            <span class="p-input-icon-right ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="filter(table, $event)" placeholder="Filter"
                    class="p-inputtext-sm" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name / Description</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-source>
        <tr>
            <td>
                <div class="flex w-full">
                    <div class="flex flex-col flex-grow">
                        <span [routerLink]="['/editor', source.id]" class="font-bold cursor-pointer text-blue-700">
                            {{source.name || '[name not set]'}}
                        </span>
                        <span class="text-xs">{{source.description}}</span>
                    </div>
                    <button pButton type="button" icon="pi pi-times"
                        class="p-button-text p-button-rounded p-button-sm p-button-danger"
                        (click)="remove(source)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td>
                <div class="text-xs text-center text-gray-400 w-full">
                    no record matched, revise your filter keyword
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>